/* Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* Variable */
:root {
    --sec-color: #e6e6e6;
    --bg-header: #292929;
    --txt-color: #ffffff;
    --btn-color: #f8e806;
    --btn-hover: #fff235;
    --bg-dark: #414141;
}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* MASTER */
.container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

h2 {
    padding: 70px 20px 20px;
    font-family: "Poppins";
}

p {
    font-family: "Poppins";
    font-weight: 400;
}

/* NAVBAR */
.navbar {
    display: flex;
    background-color: var(--bg-header);
    color: var(--txt-color);
    width: 100%;
    height: 10vh;
    z-index: 10;
    position: fixed;
    justify-content: space-between;
}

.navbar-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins";
    padding-right: 10px;
    padding-left: 35px;
    letter-spacing: 5px;

}

.navbar-item {
    display: none;
}

.navbar-list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 15px 30px;
}

.navbar-list a {
    padding-right: 35px;
    font-family: "Poppins";
    text-decoration: none;
    color: white;

}

/* BANNER */

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--txt-color);
    height: 90vh;
}
.banner h1 {
    font-size: 100px;
    font-family: "Poppins";
    letter-spacing: 10px;
    padding: 70px 0px 30px;
}

span {
    color: orange
}

.banner h3 {
    font-size: 35px;
    font-family: "Poppins";
    font-weight: 100;
    opacity: 0.7;
}

.banner img {
    width: 25%;
}

/* ABOUT */
.about {
    background-color: var(--sec-color);
    padding: 0px 70px 70px;
    text-align: center;
}

/* PROJECT */
.project {
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;

}

.card-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    grid-gap: 50px;
    text-align: center;
    justify-content: center;


}

.card-item {
    margin-bottom: 70px;

}
.card-item img {
    width: 70%;
    box-shadow: rgba(0,0,0, 0.15) 3px 4px 9px ;
    margin-bottom: 15px;
}

/* CONTACT */
.contact {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: var(--sec-color);
    border: none;
    padding-bottom: 70px;
}

.contact-email {
    width: 50%;
    margin: 15px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-family: "Poppins";
}

.contact-textarea {
    width: 50%;
    margin: 15px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-family: "Poppins";
}

.submit {
    width: 30%;
    margin: 15px;
    padding: 10px;
    background-color: var(--btn-color);
    border: none;
}
/* FOOTER */
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    height: 120px;
    background-color: var(--bg-header);
}
.footer h1{
    font-family: "Poppins";
    font-size: medium;
    letter-spacing: 5px;
    margin-top: 10px;
    margin-left: 20px;
    color: var(--txt-color);
}

.footer-list {
    display: flex;
    flex-direction: column;
    margin: 25px 20px 10px;
}

.footer-item {
    margin-bottom: 10px;
    text-decoration: none;
    font-size: small;
    color: var(--txt-color);
}

/* RESPONSIVE */
@media screen and (max-width: 1000px ) {
    .container {
        max-width: 90%;
    }
    .navbar-logo {
        font-size: 10px;
        margin-right: 0 auto;
    }

    .navbar-item {
        display: none;
    }

    .no-wrap {
        white-space: nowrap;
    }

    .banner h1 {
        font-size: 80px;
    }
}

@media screen and (max-width: 670px ) {
    .container {
        max-width: 70%;
    }

    .navbar-logo {
        display: flex;
        font-size: 15px;
        margin-right: 50%;
    }

    .no-wrap {
        white-space: nowrap;
    }

    .navbar-list {
        display: none;
    }

    .navbar-item {
        display: flex;
        align-items: center;
        font-size: 40px;
        padding-right: 40px;

    }

    .banner h1 {
        font-size: 50px;
    }

    .banner img {
        width: 40%;
    }


}